*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
}

#wrapper{
    width: 1000px;
    padding: 20px;
}

.page_header{
    width: 98%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content_header{
    width: 28%;
    display: flex;
    justify-content: space-around;
}

.gold_display{
    width: 65%;
    padding-left: 5px;
    border: 1px solid black;
}

.content_box_container{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.location_box{
    width: 24%;
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.earnings_description{
    margin: 10px 0px;
}

.activities_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.activities_container h4{
    align-self: flex-start;
}

.activities_list{
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border: 1px solid black;
}

.page_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}